*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background:  rgb(26, 191, 242);
    height: 10vh;
    width: 100%;
}

.logo{
    color: azure;
    font-size: 2rem;
    line-height: 80px;
}
.x{
    font-size: 3rem;
}

ul{

}
ul li{
    color: azure;
}