.card{
    width: 650px;
    padding: 8px;
    border-radius: 14px;
    border: 1px solid lightgray;
    margin: 500px;
    position: relative;

}
.tag{
    background-color: white;
    width: 20%;
    border-radius: 20px;
    text-align: center;
    color: black;
    padding: 5px;
    position: absolute;
    top: 20px;
    font-weight: 800;
}
.card h4{
    background-color: blue;
    width: 25%;
    color: white;
    padding: 5px;
    position: absolute;
    top: 400px;
    text-align: center;
}
.time{
    background-color: white;
    width: 20%;
    border-radius: 20px;
    text-align: center;
    padding: 2px;
    position: absolute;
    top: 400px;
    left: 500px;
    font-weight: 800;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.note{
    width: 20%;
}
.veg-thali{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
}
.card p{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.sub{
    position: relative;
}
.note{
    position: absolute;
    width: 20%;
    left: 10px;
    height: 80px;
    border-radius: 20px;

}
.sub p{
    position:relative;
    left: 140px;
    width: 85%;
    padding: 10px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    bottom: 7px;

}

