body{
    background-color: lightgray;
}

.heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 150px;
}
.heading h1{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading h4{
    margin: 0;
}

.container{
    
    height: 450px;
    width: 300px;
    overflow: hidden;
    background-color: black;
    margin-left: 600px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;


}
.input-area{
    width: 97.5%;
    height: 100px;
    border-radius: 10px;
    text-align: right;
    font-size: 30px;
    background-color: lightgreen;
}
.content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}
button{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}
.btn-yellow{
    width: 60px;
    height: 60px;
    background-color: yellow;
    
}
.btn-white{
    width: 60px;
    height: 60px;
    background-color: white;
    
}
.btn-equal{
    width: 60px;
    height: 60px;
    background-color: green;
    
}
.btn-clear{
    width: 60px;
    height: 60px;
    background-color: red;
   
}

